@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=TWKEverett&display=swap');

@font-face {
  font-family: 'DynaPuff';
  src: url('/fonts/DynaPuff.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TWKEverett';
  src: url('/fonts/TWKEverett.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Your default theme */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

.dark {
  --foreground: 255, 255, 255;
  --background: 10, 10, 10;
}



@keyframes scroll {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

button{
  cursor: pointer;
}

text {
  color: rgb(34, 33, 33);
}

.dark text {
  color: rgb(220, 220, 220);
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

.dynapuff-font {
  font-family: 'DynaPuff', sans-serif !important;
}

.montserrat-font {
  font-family: 'Montserrat', sans-serif !important;
}

.everett-font {
  font-family: 'TWKEverett', sans-serif !important;
}

.bg-forest {
  background-image: url('/images/bg-forest.png');
  background-size: cover;
  background-repeat: no-repeat;
}