@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: 'DynaPuff';
  src: url('/fonts/DynaPuff.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 245, 245, 245;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 15, 15, 15;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--navy-800);
}

::-webkit-scrollbar-thumb {
  background: var(--navy-700);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent-blue);
}

.hero-bg {
  background-image: url('/images/890B9693-B20D-4218-BB3E-61C8389A406E.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-adimage {
  background-image: url('/images/Section1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.adImage-bg {
  background-image: url('/images/Section1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.comic-bg-1{
  background-image: url('/images/comic1.jpg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.comic-bg-2{
  background-image: url('/images/comic2.jpg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.comic-bg-3{
  background-image: url('/images/comic3.jpg.png');
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes scroll {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.marquee {
  animation: scroll 15s linear infinite;
}

.marquee-content {
  min-width: 100%;
}

button{
  cursor: pointer;
}

text {
  color: rgb(34, 33, 33);
}

.chat-container {
  background-color: #0d0d0f;
  color: white;
}

/* Chat message hover effect */
.chat-message {
  transition: background-color 0.2s;
}

.chat-message:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/* Custom styles for user tiers */
.user-tier-1 {
  color: #ffffff;
}

.user-tier-2 {
  color: #fbbf24;
}

.user-tier-3 {
  color: #3b82f6;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

.dynapuff-font {
  font-family: 'DynaPuff', sans-serif !important;
}

.montserrat-font {
  font-family: 'Montserrat', sans-serif !important;
}

.bg-forest {
  background-image: url('/images/bg-forest.png');
  background-size: cover;
  background-repeat: no-repeat;
}